<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}

<!DOCTYPE html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Colored Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- bootstrap-css -->

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" >
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %} ">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">

<script src="{% static 'js/jquery2.0.3.min.js' %} "></script>

<script src="{% static 'js/Chart.bundle.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>

<script src="{% static 'js/owl.carousel.js' %} " ></script>
<script src="{% static 'js/owl.animate.js' %} " ></script>
<script src="{% static 'js/owl.autoplay.js' %} " ></script>

<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %} ">
<!-- font CSS -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/font.css' %} ">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %} ">
<link rel="stylesheet"  href="{% static 'css/lsb.css' %} ">
<link rel="stylesheet" href="{% static 'css/default.css' %} ">
<!-- //font-awesome icons -->

<script src="{% static 'js/modernizr.js' %} "></script>
<script src="{% static 'js/jquery.cookie.js' %} "></script>
<script src="{% static 'js/screenfull.js' %} "></script>

<script src="{% static 'js/jquery.countdown.min.js' %} "></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}



			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
		});
		</script>
<!-- charts -->
<script src="{% static 'js/raphael-min.js' %} "></script>
<script src="{% static 'js/morris.js' %} "></script>
<link rel="stylesheet" href="{% static 'css/morris.css' %} ">
<!-- //charts -->
<!--skycons-icons-->
<script src="{% static "js/skycons.js" %} "></script>
<!--//skycons-icons-->
</head>
<body class="dashboard-page">
	<script>
	        var theme = $.cookie('protonTheme') || 'default';
	        $('body').removeClass (function (index, css) {
	            return (css.match (/\btheme-\S+/g) || []).join(' ');
	        });
	        if (theme !== 'default') $('body').addClass(theme);
        </script>
	<nav class="main-menu">
		<ul>
			<li>
				<a href="/">
					<i class="fa fa-home nav_icon"></i>
					<span class="nav-text">
					Painel Control
					</span>
				</a>
			</li>
			<li class="has-subnav">
				<a href="/produto/todos/">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<span class="nav-text">
				      Realizar vendas
				</span>
				<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
			</li>
			<li class="has-subnav">
				<a href="/admin/criar-funcionario/">
				<i class="fa fa-check-square-o nav_icon"></i>
				<span class="nav-text">
				Cadastrar Funcionario
				</span>
				<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
			</li>
			<li class="has-subnav">
				<a href="/admin/fornecedor/">
					<i class="fa fa-file-text-o nav_icon"></i>
						<span class="nav-text">Cadastrar Fornecedor</span>
					<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
			</li>
      <li>
				<a href="/categoria/">
					<i class="fa fa-bar-chart nav_icon"></i><i class="icon-angle-down"></i>
					<span class="nav-text">
						Cadastrar Categoria
					</span>
				</a>
			</li>
			<li>
			<li>
				<a href="/relatorios/">
					<i class="fa fa-bar-chart nav_icon"></i>
					<span class="nav-text">
						Gerir Relatorios
					</span>
				</a>
			</li>
			<li>
			<li class="has-subnav disabled">
				<a href="/admin/">
					<i class="fa fa-list-ul" aria-hidden="true"></i>
					<span class="nav-text btn-block">Configuracao</span>
					<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
			</li>
		</ul>
		<ul class="logout">
			<li>
			<a href="/accounts/logout/">
			<i class="icon-off nav-icon"></i>
			<span class="nav-text">
			Logout
			</span>
			</a>
			</li>
		</ul>
	</nav>
	<section class="wrapper scrollable">
		<nav class="user-menu">
			<a href="javascript:;" class="main-menu-access">
			<i class="icon-proton-logo"></i>
			<i class="icon-reorder"></i>
			</a>
		</nav>
		<section class="title-bar">
			<div class="logo">
				<a href="index.html"><img src="/static/img/logo.jpg" width="100" height="50" alt="" /></a>
			</div>
			<div class="full-screen">
				<section class="full-top">
					<button id="toggle"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
				</section>
			</div>
			<div class="w3l_search">
				<form action="#" method="post">
					<input type="text" name="search" placeholder="Oi! {{ user.username }}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
					<button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
			</div>
			<div class="header-right">
				<div class="profile_details_left">
					<div class="header-right-left">
						<!--notifications of menu start -->
						<ul class="nofitications-dropdown">
							<li class="dropdown head-dpdn">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><a href="#">{{ user|title }}</a>

							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="profile_details">
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">
										<span class="prfil-img"><img src="/media/{{ user.configuracao.imagem }}" style="border-image: round; border-radius: 100%; border: 2px solid #ccc;" width="50" height="50" alt=""></span>
										<div class="clearfix"></div>
									</div>
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="/admin/"><i class="fa fa-cog"></i> Configuracao</a> </li>
									<li> <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sair</a> </li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</section>
		<div class="main-grid">
    {% block content %}
    {% endblock %}
  </div>
		<!-- footer -->
		<div class="footer">
			<p>© 2017  . Casa Publicadora <a href="http://w3layouts.com/">Nova Era</a></p>
		</div>
		<!-- //footer -->
	</section>
  <script src="{% static "js/bootstrap.js" %} "></script>
  <script src="{% static "js/default.js" %} " ></script>
  <script src="{% static "js/proton.js" %} "></script>
	<script src="{% static "js/lsb.js" %} " ></script>
</body>
</html>
