{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}
{% load bootstrap %}
<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
<div class="container">
  <div class="row-now">
    <div class="funcionario-editar">
      <h1>Sobre o funcionario</h1>

       <img src="/media/{{ perfil.imagem }}" widt="100" height="100" alt="">
        <h3>Nome: {{ perfil.perfil }}</h3>
        <h3>Cidade: Lobito</h3>
        <h3>Telefone: 994 489893849</h3>
        <h3>Email: {{ perfil.email }}</h3>
    </div>
  </div>
</div>
{% endblock %}
