{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}
{% load bootstrap %}
<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
<div class="container">
  <div class="row-now">
    <div class="funcionario-editar">
      <h2>Editar O funcionario</h2>
      <div class="form">
        <form class="form" action="/admin/configuracao/" method="post">
          {% csrf_token %}
          {{ form|bootstrap }}
        </form>

        <button type="submit" class="btn btn-primary">Actulizar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
