
{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}

  <div class="container">
    <div class="row-now">
      <div class="funcionario-editar">
        <h2>Adicionar categoria</h2>
        {% if cart %}
          <table class="table table-bordered">
            <caption>Carrinho de compra</caption>
            <thead>
              <tr>
                <th>Produto</th>
                <th>Cliente</th>
                <th>Funcionario</th>
                <th>Quantidade</th>
                <th>Preco</th>
                <th>Total</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              {% for each in cart %}
              <tr>
                <td>{{ each.produto }}</td>
                <td>{{ each.cliente }}</td>
                <td>{{ each.funcionario }}</td>
                <td>{{ each.quantidade }}</td>
                <td>{{ each.preco }}</td>
                <td>{{ each.pagando }}</td>
                <td><a href="/carrinho/eliminar/{{ each.id }}/" class="btn btn-danger"> <i class="fa fa-trash-o"></i> </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="form">
            <form  action="/carrinho/futura/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="">Valor a entregra</label>
                <input type="text" name="valor" class="form-control">
              </div>
              <input type="submit" class="btn btn-primary" name="" value="Faturar agora ?">
            </form>
          </div>
          {% else %}
            <p>Nao tem Item no Carrinho</p>
          {% endif %}
          <br>
          <br>
          <br>
          <a href="/produto/todos/" class="btn btn-danger">Voltar ?</a>
        <div>
      </div>
    </div>
  </div>
{% endblock %}
