
{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="form">
          <form action="/carrinho/processa/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="">produto</label>
              <input type="text" class="form-control" name="produto" value="{{ produto.nome }}">
            </div>
            <div class="form-group">
              <label for="">Quatidade</label>
              <input type="text" class="form-control" name="quantidade" value="1">
            </div>
            <div class="form-group">
              <label for="">Preco</label>
              <input type="text" class="form-control" name="preco" placeholder="{{ produto.preco }}">
            </div>
            <div class="form-group">
              <label for="">Nome do cliente</label>
              <input type="text" class="form-control" name="cliente" placeholder="Digite o nome do cliente">
            </div>
            <div class="form-group">
              <label for="">Funcionario</label>
              <input type="text" class="form-control" name="" value="{{ request.user }}">
            </div>
            <input type="hidden" name="pk" value="{{ produto.pk }}">
            <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Adicionar</button>
          </form>
        </div>
      </div>
    </div>
  </div><!-- ./ welcome -->
{% endblock %}
