{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
<div class="container">
  <div class="row-now">
    <div class="row-now">
      <div class="funcionario-editar">
        <h1>Sobre o Fornecedor</h1>

         <img src="/media/{{ fornecedor.img }}" widt="100" height="100" alt="">
          <h3>Nome: {{ fornecedor.nome }}</h3>
          <h3>Cidade: {{fornecedor.cidade }}</h3>
          <h3>Telefone: {{ fornecedor.telefone }}</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
