{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
<div class="container">
  <div class="row-now">
    <div class="funcionario-editar">
      <h2>Editar O funcionario</h2>
      <div class="form">
        <form class="form" action="/admin/configuracao/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="">Nome Do funcionario</label>
            <input type="text" class="form-control" name="username" value="{{ fornecedor.nome }}" />
          </div>
          <div class="form-group">
            <label for="">Email Do funcionario</label>
            <input type="text" class="form-control" name="username" value="{{ fornecedor.email }}" />
          </div>
          <div class="form-group">
            <label for="">Senha Actual</label>
            <input type="text" class="form-control" name="username" value="{{ fornecedor.cidade }}" />
          </div>
          <div class="form-group">
            <label for="">Nova Senha Actual</label>
            <input type="text" class="form-control" name="username" value="{{ fornecedor.telefone }}" />
          </div>
        </form>
        <br />
        <button type="submit" class="btn btn-primary">Actulizar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
