{% extends "padrao/base.html" %}
{% load bootstrap %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
 <div class="row">
  <div class="col-md-6">
    <div class="form">
      <form role="form" action="/admin/fornecedor/" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form|bootstrap }}
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Cadastrar</button>
      </form>
    </div>
  </div>
  <div class="col-md-6 func-capa">


    <div class="list-func">
        <h2>Funcionarios Activos</h2>
      <div class="funcionarios">
          {% if fornecedores %}
            {% for each in fornecedores %}
            <div class="profile">
              <img src="/media/{{ each.img }} " class="img-circle" width="100" height="100" />
              <p><a href="#">{{ each.nome  }}</a></p>

               <a class="fa fa-edit" href="/admin/configuracao/fornecedor/{{ each.id }}"></a>
            </div>
            {% endfor %}
          {% endif %}<div class="clearfix"></div>
      </div><!-- ./ funcionarios -->
    </div>
    <div class="paginacao">
      <ul class="pager">
      </ul>
    </div>
  </div>
 </div>
{% endblock %}
