{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
    <div class="add-func">
        {% if form.errors %}
		    <p class="error">Sorry something was bad try again.</p>
        {% endif %}
        <div class="double form-func">
            <form action="/admin/fornecedor/" method="post">{% csrf_token %}
                <div><input type="text" name="nome" placeholder="Nome do forncedor " /></div>

                <div><input type="text" name="telefone" placeholder="Telefone do forncedor " /></div>

                <div><input type="text" name="cidade" placeholder="Cidade do forncedor " /></div>
                <div><input type="submit" value="Criar"></div>
            </form>
        </div><!-- ./ form-func -->
        <div class="double extra-func">
            <p>Lista do funcionarios</p>
            {% if fornecedores %}
             {% for user in fornecedores %}
             <ul class="users">


                        <li><a href="">{{ user.nome }}  </a> <a href="/fornecedor/editar/{{ user.nome }}/">( Editar )</a>
                            <a href="/fornecedor/eliminar/{{ user.nome }}/"> ( Eliminar )</a></li>



              </ul>
              {% endfor %}
            {% endif %}
        </div><!-- ./ form-func -->
    </div><!-- ./ add-func ->
{% endblock %}
