{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
   <div class="row">
     <div class="col-md-6 col-sm-6">
       <div class="form">
         <form role="form">
           <div class="form-group">
             <label for="name">Nome do Produto</label>
             <input type="text" class="form-control" value="{{ produto.nome }}">
           </div>
           <div class="form-group">
             <label for="name">Preco do produto</label>
             <input type="text" class="form-control" value="{{ produto.preco }}">
           </div>
           <div class="form-group">
             <label for="">Fornecedores</label>
             <ul>
               {% for each in fornecedores %}
                <li>{{ each.nome|title }}</li>
               {% endfor %}
             </ul>
           </div>


           <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Actualizar</button>
           <button type="submit" class="btn btn-danger"><i class="fa fa-delete"></i> Eliminar</button>
         </form>
       </div>
     </div><!-- col-md-6 -->
     <div class="col-md-6 col-sm-6 produto-single">
       <div class="container">
         <div class="img" style="width: 300px; height: 300px;">
           <div class="thumbnail">
             <img src="/media/{{ produto.upload }}" />
             <div class="caption">
               <h3>Nome: {{ produto.nome }}</h3>
               <h3>Preco: {{ produto.preco }} Kz</h3>
               <h3>No. De Compras: 12</h3>
               <h3>Categorias: </h3>
               <ul>
                 {% for categ in categories %}
                  <li>{{ categ.nome }}</li>
                 {% endfor %}
               </ul>

             </div>
           </div>
         </div>
       </div>
     </div><div class="limpa"></div><br /><br /><br /><br /><br />
   </div><!-- ./ row -->
{% endblock %}
