
{% extends "padrao/base.html" %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   produtos single
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
 <div class="container">
   <div class="row-fluid">
     <div class="span6">
       <div class="single">
         <div class="single-header">
           <p>Single Header</p>
         </div>
         <div class="single-body">
          <img src="/static/img/g2.jpg" with="100" height="100" alt="">
         </div><!-- single-body -->
       </div><!-- single -->
     </div>
     <div class="span6">

         <div class="cart">
           <div class="cart-header">
             <h3>Carrinho De Compra</h3>
             <form class="form" action="/produto/vender/{{ produto.slug }}" method="post">
               <input type="text" name="" value="{{ produto.nome }}"> </p>
               <input type="text" name="preco" value="{{ produto.preco }}"> </p>
               <input type="text" name="quantity" placeholder="Quatidade: 1" /> </p>
               <input type="submit" class="btn btn-primary"  value="Adicionar">
             </form>
           <hr>
            <h2> <i class="fa fa-leaf"></i> Categoria do Produto</h2>
             <ul>
               {% for categ in categories %}
                <li><a href="#">{{ categ.nome }}</a></li>
               {% endfor %}
             </ul>
             <h2><i class="fa fa-book"></i> Descricao</h2>
             <p>Esta e uma pequna descricao deste maravilho produto</p>




           </div><!-- cart-header -->
           <div class="cart-body">
             <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>preco</th>
                    <th>Quantidade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for p in cart %}
                    <td>1</td>
                    <td>{{ cart.produto }}</td>
                    <td>{{ cart.preco }}</td>
                    <td>{{ cart.quantity }}</td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
           </div><!-- cart-body -->
         </div><!-- cart -->

     </div>
   </div><!-- row-fluid -->
 </div><!-- container -->

{% endblock %}
