{% extends "padrao/base.html" %}
{% load bootstrap %}
<!---
      Block do titulo
      ------------------------------------------------------------>
{% block title %}
   Pagina principal
{% endblock %}

<!---
      Block do content
      ------------------------------------------------------------>
{% block content %}
 <div class="row">
  <div class="col-md-6">
    <div class="form">
      <form role="form" action="/admin/criar-funcionario/" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form|bootstrap }}
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Cadastrar</button>
      </form>
    </div>
  </div>
  <div class="col-md-6 func-capa">


    <div class="list-func">
        <h2>Funcionarios Activos</h2>
      <div class="funcionarios">
          {% for user in users %}
            {% if not user.is_superuser %}
            <div class="profile">
              <img src="/static/img/2.png" class="img-circle" width="100" height="100" />
              <p><a href="#">{{ user.username  }}</a></p>

               <a class="fa fa-edit" href="/admin/configuracao/funcionario/{{ user.id }}/"></a>
            </div>
            {% endif %}
        {% endfor %}<div class="clearfix"></div>
      </div><!-- ./ funcionarios -->
    </div>
    <!--
    <div class="paginacao">
      <ul class="pager">
        {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">Anterior</a></li>
       {% endif %}
        <li>Pagina {{ users.number }} de {{ users.paginator.num_pages }}</li>
        {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">Proximo</a></li>
        {% endif %}
      </ul>
    </div>
  -->
  </div>
 </div>
{% endblock %}
